/* Center content vertically and horizontally */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #CCCCFF; /* Background color for the page */
    font-family: Arial, sans-serif;
}


.login-container {
    text-align: center;
    background-color: #6667AB;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 90%;
}

/* Style form labels */
label {
    display: block;
    text-align: left;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}

/* Style form inputs */
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Style submit button */
input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #333;
}


h2 {
    color: #333;
}
